{% include 'nov-breadcrumb' %}
<div class="page-width nov-blog mt-150 mt-xs-70 blog_list">
  <div class="container_1320">
    <div class="row spacing-60">
      <div class="sidebar sidebar-article col-lg-3 col-md-4">
        {% section 'nov-sidebar-article' %}
      </div>
      <div class="blog_groups col-lg-9 col-md-8">
        {% section 'blog-template' %}
      </div>
    </div>
  </div>
</div>